
/* *{
    width:1200px;
}
 */
* {
margin:0;
}

 
:root{
    --header:#42e77e;
    --header-section1:#ae977a;
    --header_section2: #e5c69f;
    --main: #f6f6f6;
    --maindarker: #98a0ba;
    --footer:#5d6ea5;
    --header_buttons: #daa520;
    --mainbox1: #747782;
    --mainbox2: #d26676;
    --mainbox3: #228b22;
    --footerbox1: #f08080;
    --footerbox2: #20b2aa;
    --footerbox4: #7fffd4;
    --banner: #3161e0;
    --blue-assets:#8ea1e1;
    --site_footer:#23272a;
}

/* header sections */

.site_header{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    background-color: var(--banner);
}

#banner{
    display:flex;
    align-self:baseline;
    justify-content:space-between;
    align-content: center;
    width:70%;
    height:30px;
    padding-top:15px;
    font-family:sans-serif;
}

#links{
    display:flex;
    justify-content: space-between;
    color:white;
    width:40%;
}

#logo{
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-size:contain;
    width:125px;
}

#login{
    text-align: center;
    border-radius: 20px;
    background-color: white;
    width: 60px;
}

/* main sections */

.site_main{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
}

/* section 1 mainly for jumbotron and its elements */
#jumbotron{
    display:flex;
    background-image: url("../img/jumbo.png");
    background-size:cover;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:center;
    align-content:center;
    height:475px;
}

#platform{
    display: flex;
    justify-content: center;
    padding-top:20px;
    padding-bottom:20px;
}

#download_mac{
    color:black;
    border-radius:20px;
    border:0;
    background-color: white;
    padding:10px;
    margin:5px;
    width:150px;
}

#stay_web{
    color:white;
    font-family: sans-serif;
    border-radius:20px;
    border:0;
    padding:10px;
    margin:5px;
    background-color: black;
    width:200px;
}

#your_place{
    color:white;
    font-family: sans-serif;
    font-weight:bold;
    font-size:3rem;
    text-align:center;
    padding-bottom:25px;
    margin:0;
}

#your_community{
    color:white;
    font-family: sans-serif;
    text-align: center;
    line-height: 1.5rem;
    width:41%;
    padding:5px;
}

/* all main sections and elements*/

.main_section{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height:400px;
    width:100%;
}

.alternating_color{
    background-color: var(--main);
}

#separator{
    display: flex;
    justify-self: flex-end;
    background-image: url(../img/wave.svg);
    background-size:cover;
    background-repeat: no-repeat;
    width:100%;
    height:100px;
    background-color: white;
}

#reverse_separator{
    display: flex;
    justify-self: flex-end;
    background-image: url(../img/wave.svg);
    background-size:cover;
    background-repeat: no-repeat;
    width:100%;
    height:100px;
    background-color: white;
    transform: rotate(180deg);
}

/* all images */

#voice_image {
    display:flex;
    background-image: url("../img/item2.svg");
    background-size:contain;
    background-repeat: no-repeat;
    height:400px;
    width:500px;
}

#group_image {
    display:flex;
    background-image: url("../img/item1.svg");
    background-size:contain;
    background-repeat: no-repeat;
    height:400px;
    width:500px;
}

#tech_image {
    display:flex;
    background-image: url("../img/item3.svg");
    background-size:contain;
    background-repeat: no-repeat;
    height:400px;
    width:500px;
}

#contact_image{
    display:flex;
    background-image: url("../img/item4-big.svg");
    background-size:contain;
    background-repeat: no-repeat;
    height:300px;
    width:500px;
    align-self: center;
}

/* all text */

#text_part {
    display:flex;
    flex-direction: column;
    height:400px;
    width:250px;
    padding-left: 5rem;
}

#upper_text{
    font-size:2rem;
    font-weight:bold;
    font-family:sans-serif;
    padding-top:1.5rem;
}

#lower_text{
    font-family:sans-serif;
    padding-top:1rem;
}


/* Tecnologia affidabile section */

.main_section_reverse{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width:100%;
}

#keeping_touch_{
    display:flex;
    flex-direction: column;
    width:55%;
    padding:0;
    text-align: center;
}

#last_section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

#ready_text{
    background-image: url(../img/stars.svg);
    background-size:contain;
    background-repeat: no-repeat;
    width:45%;
    display: flex;
    font-size:1.5rem;
    font-weight:bold;
    font-family:sans-serif;
    text-align: center;
    padding:20px;
    padding-bottom: 10px;
}

#touch_text{
    text-align: center;
}

#ready_tostart{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

#download_mac{
    font-family: sans-serif;
    color:white;
    background-color: var(--blue-assets);
}


/* footer sections */

.site_footer{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    height: 500px;
    background-color: var(--site_footer);
}

#footer_section1{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-content:center;
    height:400px;
}

#footer_section2{
    display:flex;
    flex-wrap: wrap;
}

/* footer elements */

#footer_box1{
    width:150px;
    height:300px;
    background-color: var(--footerbox1);
}

#footer_box2{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    width:450px;
    height:300px;
    background-color: var(--footerbox2);
}

#box2_column{
    border: dashed 1px;
}

#footer_box3{
    display:flex;
    flex-wrap:wrap;
    align-self: flex-end;
    justify-content:space-between;
    align-content:center;
    width:600px;
    height:50px;
    background-color: var(--footerbox2);
}

#box3_logo{
    width:40px;
    height:20px;
    background-color: var(--footerbox4);
}

#box3_button{
    width:40px;
    height:20px;
    background-color: var(--footerbox4);
}

hr{
    height:1px;
    width:100%;
}